<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ear.di.dao.IppEMandateEventMapper" >
  <resultMap id="BaseResultMap" type="com.ear.di.entity.IppEMandateEvent" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="event_id" property="eventId" jdbcType="VARCHAR" />
    <result column="event_type" property="eventType" jdbcType="VARCHAR" />
    <result column="event_type_desc" property="eventTypeDesc" jdbcType="VARCHAR" />
    <result column="event_status" property="eventStatus" jdbcType="VARCHAR" />
    <result column="event_status_desc" property="eventStatusDesc" jdbcType="VARCHAR" />
    <result column="from_chnl_seq" property="fromChnlSeq" jdbcType="VARCHAR" />
    <result column="from_chnl_code" property="fromChnlCode" jdbcType="VARCHAR" />
    <result column="from_chnl_date" property="fromChnlDate" jdbcType="TIMESTAMP" />
    <result column="from_chnl_dttm" property="fromChnlDttm" jdbcType="TIMESTAMP" />
    <result column="mandate_id" property="mandateId" jdbcType="VARCHAR" />
    <result column="mandate_status" property="mandateStatus" jdbcType="VARCHAR" />
    <result column="mandate_role" property="mandateRole" jdbcType="VARCHAR" />
    <result column="mandate_start_date" property="mandateStartDate" jdbcType="TIMESTAMP" />
    <result column="mandate_end_date" property="mandateEndDate" jdbcType="TIMESTAMP" />
    <result column="mandate_purpose" property="mandatePurpose" jdbcType="VARCHAR" />
    <result column="biller_reference_id" property="billerReferenceId" jdbcType="VARCHAR" />
    <result column="biller_display_name" property="billerDisplayName" jdbcType="VARCHAR" />
    <result column="mandate_type" property="mandateType" jdbcType="VARCHAR" />
    <result column="sequence_type" property="sequenceType" jdbcType="VARCHAR" />
    <result column="period_type" property="periodType" jdbcType="VARCHAR" />
    <result column="period_per_count" property="periodPerCount" jdbcType="INTEGER" />
    <result column="colltn_type" property="colltnType" jdbcType="VARCHAR" />
    <result column="colltn_max_amount" property="colltnMaxAmount" jdbcType="DECIMAL" />
    <result column="colltn_fixed_amount" property="colltnFixedAmount" jdbcType="DECIMAL" />
    <result column="first_colltn_amount" property="firstColltnAmount" jdbcType="DECIMAL" />
    <result column="first_colltn_date" property="firstColltnDate" jdbcType="TIMESTAMP" />
    <result column="final_colltn_date" property="finalColltnDate" jdbcType="TIMESTAMP" />
    <result column="customer_no" property="customerNo" jdbcType="VARCHAR" />
    <result column="creditor_id" property="creditorId" jdbcType="VARCHAR" />
    <result column="creditor_name" property="creditorName" jdbcType="VARCHAR" />
    <result column="creditor_acct_no" property="creditorAcctNo" jdbcType="VARCHAR" />
    <result column="creditor_acct_name" property="creditorAcctName" jdbcType="VARCHAR" />
    <result column="creditor_acct_type" property="creditorAcctType" jdbcType="VARCHAR" />
    <result column="creditor_agent_id" property="creditorAgentId" jdbcType="VARCHAR" />
    <result column="debtor_id" property="debtorId" jdbcType="VARCHAR" />
    <result column="debtor_name" property="debtorName" jdbcType="VARCHAR" />
    <result column="debtor_acct_no" property="debtorAcctNo" jdbcType="VARCHAR" />
    <result column="debtor_acct_name" property="debtorAcctName" jdbcType="VARCHAR" />
    <result column="debtor_acct_type" property="debtorAcctType" jdbcType="VARCHAR" />
    <result column="debtor_agent_id" property="debtorAgentId" jdbcType="VARCHAR" />
    <result column="accept_flag" property="acceptFlag" jdbcType="VARCHAR" />
    <result column="reject_code" property="rejectCode" jdbcType="VARCHAR" />
    <result column="reject_message" property="rejectMessage" jdbcType="VARCHAR" />
    <result column="mandate_additional" property="mandateAdditional" jdbcType="VARCHAR" />
    <result column="mandate_remark" property="mandateRemark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, event_id, event_type, event_type_desc, event_status, event_status_desc, from_chnl_seq, 
    from_chnl_code, from_chnl_date, from_chnl_dttm, mandate_id, mandate_status, mandate_role, 
    mandate_start_date, mandate_end_date, mandate_purpose, biller_reference_id, biller_display_name, 
    mandate_type, sequence_type, period_type, period_per_count, colltn_type, colltn_max_amount, 
    colltn_fixed_amount, first_colltn_amount, first_colltn_date, final_colltn_date, customer_no, 
    creditor_id, creditor_name, creditor_acct_no, creditor_acct_name, creditor_acct_type, 
    creditor_agent_id, debtor_id, debtor_name, debtor_acct_no, debtor_acct_name, debtor_acct_type, 
    debtor_agent_id, accept_flag, reject_code, reject_message, mandate_additional, mandate_remark, 
    create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ear.di.entity.IppEMandateEventExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ipp_e_mandate_event
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ipp_e_mandate_event
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ipp_e_mandate_event
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ear.di.entity.IppEMandateEventExample" >
    delete from ipp_e_mandate_event
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ear.di.entity.IppEMandateEvent" >
    insert into ipp_e_mandate_event (id, event_id, event_type, 
      event_type_desc, event_status, event_status_desc, 
      from_chnl_seq, from_chnl_code, from_chnl_date, 
      from_chnl_dttm, mandate_id, mandate_status, 
      mandate_role, mandate_start_date, mandate_end_date, 
      mandate_purpose, biller_reference_id, biller_display_name, 
      mandate_type, sequence_type, period_type, 
      period_per_count, colltn_type, colltn_max_amount, 
      colltn_fixed_amount, first_colltn_amount, first_colltn_date, 
      final_colltn_date, customer_no, creditor_id, 
      creditor_name, creditor_acct_no, creditor_acct_name, 
      creditor_acct_type, creditor_agent_id, debtor_id, 
      debtor_name, debtor_acct_no, debtor_acct_name, 
      debtor_acct_type, debtor_agent_id, accept_flag, 
      reject_code, reject_message, mandate_additional, 
      mandate_remark, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{eventId,jdbcType=VARCHAR}, #{eventType,jdbcType=VARCHAR}, 
      #{eventTypeDesc,jdbcType=VARCHAR}, #{eventStatus,jdbcType=VARCHAR}, #{eventStatusDesc,jdbcType=VARCHAR}, 
      #{fromChnlSeq,jdbcType=VARCHAR}, #{fromChnlCode,jdbcType=VARCHAR}, #{fromChnlDate,jdbcType=TIMESTAMP}, 
      #{fromChnlDttm,jdbcType=TIMESTAMP}, #{mandateId,jdbcType=VARCHAR}, #{mandateStatus,jdbcType=VARCHAR}, 
      #{mandateRole,jdbcType=VARCHAR}, #{mandateStartDate,jdbcType=TIMESTAMP}, #{mandateEndDate,jdbcType=TIMESTAMP}, 
      #{mandatePurpose,jdbcType=VARCHAR}, #{billerReferenceId,jdbcType=VARCHAR}, #{billerDisplayName,jdbcType=VARCHAR}, 
      #{mandateType,jdbcType=VARCHAR}, #{sequenceType,jdbcType=VARCHAR}, #{periodType,jdbcType=VARCHAR}, 
      #{periodPerCount,jdbcType=INTEGER}, #{colltnType,jdbcType=VARCHAR}, #{colltnMaxAmount,jdbcType=DECIMAL}, 
      #{colltnFixedAmount,jdbcType=DECIMAL}, #{firstColltnAmount,jdbcType=DECIMAL}, #{firstColltnDate,jdbcType=TIMESTAMP}, 
      #{finalColltnDate,jdbcType=TIMESTAMP}, #{customerNo,jdbcType=VARCHAR}, #{creditorId,jdbcType=VARCHAR}, 
      #{creditorName,jdbcType=VARCHAR}, #{creditorAcctNo,jdbcType=VARCHAR}, #{creditorAcctName,jdbcType=VARCHAR}, 
      #{creditorAcctType,jdbcType=VARCHAR}, #{creditorAgentId,jdbcType=VARCHAR}, #{debtorId,jdbcType=VARCHAR}, 
      #{debtorName,jdbcType=VARCHAR}, #{debtorAcctNo,jdbcType=VARCHAR}, #{debtorAcctName,jdbcType=VARCHAR}, 
      #{debtorAcctType,jdbcType=VARCHAR}, #{debtorAgentId,jdbcType=VARCHAR}, #{acceptFlag,jdbcType=VARCHAR}, 
      #{rejectCode,jdbcType=VARCHAR}, #{rejectMessage,jdbcType=VARCHAR}, #{mandateAdditional,jdbcType=VARCHAR}, 
      #{mandateRemark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ear.di.entity.IppEMandateEvent" >
    insert into ipp_e_mandate_event
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="eventId != null" >
        event_id,
      </if>
      <if test="eventType != null" >
        event_type,
      </if>
      <if test="eventTypeDesc != null" >
        event_type_desc,
      </if>
      <if test="eventStatus != null" >
        event_status,
      </if>
      <if test="eventStatusDesc != null" >
        event_status_desc,
      </if>
      <if test="fromChnlSeq != null" >
        from_chnl_seq,
      </if>
      <if test="fromChnlCode != null" >
        from_chnl_code,
      </if>
      <if test="fromChnlDate != null" >
        from_chnl_date,
      </if>
      <if test="fromChnlDttm != null" >
        from_chnl_dttm,
      </if>
      <if test="mandateId != null" >
        mandate_id,
      </if>
      <if test="mandateStatus != null" >
        mandate_status,
      </if>
      <if test="mandateRole != null" >
        mandate_role,
      </if>
      <if test="mandateStartDate != null" >
        mandate_start_date,
      </if>
      <if test="mandateEndDate != null" >
        mandate_end_date,
      </if>
      <if test="mandatePurpose != null" >
        mandate_purpose,
      </if>
      <if test="billerReferenceId != null" >
        biller_reference_id,
      </if>
      <if test="billerDisplayName != null" >
        biller_display_name,
      </if>
      <if test="mandateType != null" >
        mandate_type,
      </if>
      <if test="sequenceType != null" >
        sequence_type,
      </if>
      <if test="periodType != null" >
        period_type,
      </if>
      <if test="periodPerCount != null" >
        period_per_count,
      </if>
      <if test="colltnType != null" >
        colltn_type,
      </if>
      <if test="colltnMaxAmount != null" >
        colltn_max_amount,
      </if>
      <if test="colltnFixedAmount != null" >
        colltn_fixed_amount,
      </if>
      <if test="firstColltnAmount != null" >
        first_colltn_amount,
      </if>
      <if test="firstColltnDate != null" >
        first_colltn_date,
      </if>
      <if test="finalColltnDate != null" >
        final_colltn_date,
      </if>
      <if test="customerNo != null" >
        customer_no,
      </if>
      <if test="creditorId != null" >
        creditor_id,
      </if>
      <if test="creditorName != null" >
        creditor_name,
      </if>
      <if test="creditorAcctNo != null" >
        creditor_acct_no,
      </if>
      <if test="creditorAcctName != null" >
        creditor_acct_name,
      </if>
      <if test="creditorAcctType != null" >
        creditor_acct_type,
      </if>
      <if test="creditorAgentId != null" >
        creditor_agent_id,
      </if>
      <if test="debtorId != null" >
        debtor_id,
      </if>
      <if test="debtorName != null" >
        debtor_name,
      </if>
      <if test="debtorAcctNo != null" >
        debtor_acct_no,
      </if>
      <if test="debtorAcctName != null" >
        debtor_acct_name,
      </if>
      <if test="debtorAcctType != null" >
        debtor_acct_type,
      </if>
      <if test="debtorAgentId != null" >
        debtor_agent_id,
      </if>
      <if test="acceptFlag != null" >
        accept_flag,
      </if>
      <if test="rejectCode != null" >
        reject_code,
      </if>
      <if test="rejectMessage != null" >
        reject_message,
      </if>
      <if test="mandateAdditional != null" >
        mandate_additional,
      </if>
      <if test="mandateRemark != null" >
        mandate_remark,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="eventId != null" >
        #{eventId,jdbcType=VARCHAR},
      </if>
      <if test="eventType != null" >
        #{eventType,jdbcType=VARCHAR},
      </if>
      <if test="eventTypeDesc != null" >
        #{eventTypeDesc,jdbcType=VARCHAR},
      </if>
      <if test="eventStatus != null" >
        #{eventStatus,jdbcType=VARCHAR},
      </if>
      <if test="eventStatusDesc != null" >
        #{eventStatusDesc,jdbcType=VARCHAR},
      </if>
      <if test="fromChnlSeq != null" >
        #{fromChnlSeq,jdbcType=VARCHAR},
      </if>
      <if test="fromChnlCode != null" >
        #{fromChnlCode,jdbcType=VARCHAR},
      </if>
      <if test="fromChnlDate != null" >
        #{fromChnlDate,jdbcType=TIMESTAMP},
      </if>
      <if test="fromChnlDttm != null" >
        #{fromChnlDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="mandateId != null" >
        #{mandateId,jdbcType=VARCHAR},
      </if>
      <if test="mandateStatus != null" >
        #{mandateStatus,jdbcType=VARCHAR},
      </if>
      <if test="mandateRole != null" >
        #{mandateRole,jdbcType=VARCHAR},
      </if>
      <if test="mandateStartDate != null" >
        #{mandateStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="mandateEndDate != null" >
        #{mandateEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="mandatePurpose != null" >
        #{mandatePurpose,jdbcType=VARCHAR},
      </if>
      <if test="billerReferenceId != null" >
        #{billerReferenceId,jdbcType=VARCHAR},
      </if>
      <if test="billerDisplayName != null" >
        #{billerDisplayName,jdbcType=VARCHAR},
      </if>
      <if test="mandateType != null" >
        #{mandateType,jdbcType=VARCHAR},
      </if>
      <if test="sequenceType != null" >
        #{sequenceType,jdbcType=VARCHAR},
      </if>
      <if test="periodType != null" >
        #{periodType,jdbcType=VARCHAR},
      </if>
      <if test="periodPerCount != null" >
        #{periodPerCount,jdbcType=INTEGER},
      </if>
      <if test="colltnType != null" >
        #{colltnType,jdbcType=VARCHAR},
      </if>
      <if test="colltnMaxAmount != null" >
        #{colltnMaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="colltnFixedAmount != null" >
        #{colltnFixedAmount,jdbcType=DECIMAL},
      </if>
      <if test="firstColltnAmount != null" >
        #{firstColltnAmount,jdbcType=DECIMAL},
      </if>
      <if test="firstColltnDate != null" >
        #{firstColltnDate,jdbcType=TIMESTAMP},
      </if>
      <if test="finalColltnDate != null" >
        #{finalColltnDate,jdbcType=TIMESTAMP},
      </if>
      <if test="customerNo != null" >
        #{customerNo,jdbcType=VARCHAR},
      </if>
      <if test="creditorId != null" >
        #{creditorId,jdbcType=VARCHAR},
      </if>
      <if test="creditorName != null" >
        #{creditorName,jdbcType=VARCHAR},
      </if>
      <if test="creditorAcctNo != null" >
        #{creditorAcctNo,jdbcType=VARCHAR},
      </if>
      <if test="creditorAcctName != null" >
        #{creditorAcctName,jdbcType=VARCHAR},
      </if>
      <if test="creditorAcctType != null" >
        #{creditorAcctType,jdbcType=VARCHAR},
      </if>
      <if test="creditorAgentId != null" >
        #{creditorAgentId,jdbcType=VARCHAR},
      </if>
      <if test="debtorId != null" >
        #{debtorId,jdbcType=VARCHAR},
      </if>
      <if test="debtorName != null" >
        #{debtorName,jdbcType=VARCHAR},
      </if>
      <if test="debtorAcctNo != null" >
        #{debtorAcctNo,jdbcType=VARCHAR},
      </if>
      <if test="debtorAcctName != null" >
        #{debtorAcctName,jdbcType=VARCHAR},
      </if>
      <if test="debtorAcctType != null" >
        #{debtorAcctType,jdbcType=VARCHAR},
      </if>
      <if test="debtorAgentId != null" >
        #{debtorAgentId,jdbcType=VARCHAR},
      </if>
      <if test="acceptFlag != null" >
        #{acceptFlag,jdbcType=VARCHAR},
      </if>
      <if test="rejectCode != null" >
        #{rejectCode,jdbcType=VARCHAR},
      </if>
      <if test="rejectMessage != null" >
        #{rejectMessage,jdbcType=VARCHAR},
      </if>
      <if test="mandateAdditional != null" >
        #{mandateAdditional,jdbcType=VARCHAR},
      </if>
      <if test="mandateRemark != null" >
        #{mandateRemark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ear.di.entity.IppEMandateEventExample" resultType="java.lang.Integer" >
    select count(*) from ipp_e_mandate_event
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ipp_e_mandate_event
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.eventId != null" >
        event_id = #{record.eventId,jdbcType=VARCHAR},
      </if>
      <if test="record.eventType != null" >
        event_type = #{record.eventType,jdbcType=VARCHAR},
      </if>
      <if test="record.eventTypeDesc != null" >
        event_type_desc = #{record.eventTypeDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.eventStatus != null" >
        event_status = #{record.eventStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.eventStatusDesc != null" >
        event_status_desc = #{record.eventStatusDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.fromChnlSeq != null" >
        from_chnl_seq = #{record.fromChnlSeq,jdbcType=VARCHAR},
      </if>
      <if test="record.fromChnlCode != null" >
        from_chnl_code = #{record.fromChnlCode,jdbcType=VARCHAR},
      </if>
      <if test="record.fromChnlDate != null" >
        from_chnl_date = #{record.fromChnlDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fromChnlDttm != null" >
        from_chnl_dttm = #{record.fromChnlDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mandateId != null" >
        mandate_id = #{record.mandateId,jdbcType=VARCHAR},
      </if>
      <if test="record.mandateStatus != null" >
        mandate_status = #{record.mandateStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.mandateRole != null" >
        mandate_role = #{record.mandateRole,jdbcType=VARCHAR},
      </if>
      <if test="record.mandateStartDate != null" >
        mandate_start_date = #{record.mandateStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mandateEndDate != null" >
        mandate_end_date = #{record.mandateEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.mandatePurpose != null" >
        mandate_purpose = #{record.mandatePurpose,jdbcType=VARCHAR},
      </if>
      <if test="record.billerReferenceId != null" >
        biller_reference_id = #{record.billerReferenceId,jdbcType=VARCHAR},
      </if>
      <if test="record.billerDisplayName != null" >
        biller_display_name = #{record.billerDisplayName,jdbcType=VARCHAR},
      </if>
      <if test="record.mandateType != null" >
        mandate_type = #{record.mandateType,jdbcType=VARCHAR},
      </if>
      <if test="record.sequenceType != null" >
        sequence_type = #{record.sequenceType,jdbcType=VARCHAR},
      </if>
      <if test="record.periodType != null" >
        period_type = #{record.periodType,jdbcType=VARCHAR},
      </if>
      <if test="record.periodPerCount != null" >
        period_per_count = #{record.periodPerCount,jdbcType=INTEGER},
      </if>
      <if test="record.colltnType != null" >
        colltn_type = #{record.colltnType,jdbcType=VARCHAR},
      </if>
      <if test="record.colltnMaxAmount != null" >
        colltn_max_amount = #{record.colltnMaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.colltnFixedAmount != null" >
        colltn_fixed_amount = #{record.colltnFixedAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.firstColltnAmount != null" >
        first_colltn_amount = #{record.firstColltnAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.firstColltnDate != null" >
        first_colltn_date = #{record.firstColltnDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.finalColltnDate != null" >
        final_colltn_date = #{record.finalColltnDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.customerNo != null" >
        customer_no = #{record.customerNo,jdbcType=VARCHAR},
      </if>
      <if test="record.creditorId != null" >
        creditor_id = #{record.creditorId,jdbcType=VARCHAR},
      </if>
      <if test="record.creditorName != null" >
        creditor_name = #{record.creditorName,jdbcType=VARCHAR},
      </if>
      <if test="record.creditorAcctNo != null" >
        creditor_acct_no = #{record.creditorAcctNo,jdbcType=VARCHAR},
      </if>
      <if test="record.creditorAcctName != null" >
        creditor_acct_name = #{record.creditorAcctName,jdbcType=VARCHAR},
      </if>
      <if test="record.creditorAcctType != null" >
        creditor_acct_type = #{record.creditorAcctType,jdbcType=VARCHAR},
      </if>
      <if test="record.creditorAgentId != null" >
        creditor_agent_id = #{record.creditorAgentId,jdbcType=VARCHAR},
      </if>
      <if test="record.debtorId != null" >
        debtor_id = #{record.debtorId,jdbcType=VARCHAR},
      </if>
      <if test="record.debtorName != null" >
        debtor_name = #{record.debtorName,jdbcType=VARCHAR},
      </if>
      <if test="record.debtorAcctNo != null" >
        debtor_acct_no = #{record.debtorAcctNo,jdbcType=VARCHAR},
      </if>
      <if test="record.debtorAcctName != null" >
        debtor_acct_name = #{record.debtorAcctName,jdbcType=VARCHAR},
      </if>
      <if test="record.debtorAcctType != null" >
        debtor_acct_type = #{record.debtorAcctType,jdbcType=VARCHAR},
      </if>
      <if test="record.debtorAgentId != null" >
        debtor_agent_id = #{record.debtorAgentId,jdbcType=VARCHAR},
      </if>
      <if test="record.acceptFlag != null" >
        accept_flag = #{record.acceptFlag,jdbcType=VARCHAR},
      </if>
      <if test="record.rejectCode != null" >
        reject_code = #{record.rejectCode,jdbcType=VARCHAR},
      </if>
      <if test="record.rejectMessage != null" >
        reject_message = #{record.rejectMessage,jdbcType=VARCHAR},
      </if>
      <if test="record.mandateAdditional != null" >
        mandate_additional = #{record.mandateAdditional,jdbcType=VARCHAR},
      </if>
      <if test="record.mandateRemark != null" >
        mandate_remark = #{record.mandateRemark,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ipp_e_mandate_event
    set id = #{record.id,jdbcType=BIGINT},
      event_id = #{record.eventId,jdbcType=VARCHAR},
      event_type = #{record.eventType,jdbcType=VARCHAR},
      event_type_desc = #{record.eventTypeDesc,jdbcType=VARCHAR},
      event_status = #{record.eventStatus,jdbcType=VARCHAR},
      event_status_desc = #{record.eventStatusDesc,jdbcType=VARCHAR},
      from_chnl_seq = #{record.fromChnlSeq,jdbcType=VARCHAR},
      from_chnl_code = #{record.fromChnlCode,jdbcType=VARCHAR},
      from_chnl_date = #{record.fromChnlDate,jdbcType=TIMESTAMP},
      from_chnl_dttm = #{record.fromChnlDttm,jdbcType=TIMESTAMP},
      mandate_id = #{record.mandateId,jdbcType=VARCHAR},
      mandate_status = #{record.mandateStatus,jdbcType=VARCHAR},
      mandate_role = #{record.mandateRole,jdbcType=VARCHAR},
      mandate_start_date = #{record.mandateStartDate,jdbcType=TIMESTAMP},
      mandate_end_date = #{record.mandateEndDate,jdbcType=TIMESTAMP},
      mandate_purpose = #{record.mandatePurpose,jdbcType=VARCHAR},
      biller_reference_id = #{record.billerReferenceId,jdbcType=VARCHAR},
      biller_display_name = #{record.billerDisplayName,jdbcType=VARCHAR},
      mandate_type = #{record.mandateType,jdbcType=VARCHAR},
      sequence_type = #{record.sequenceType,jdbcType=VARCHAR},
      period_type = #{record.periodType,jdbcType=VARCHAR},
      period_per_count = #{record.periodPerCount,jdbcType=INTEGER},
      colltn_type = #{record.colltnType,jdbcType=VARCHAR},
      colltn_max_amount = #{record.colltnMaxAmount,jdbcType=DECIMAL},
      colltn_fixed_amount = #{record.colltnFixedAmount,jdbcType=DECIMAL},
      first_colltn_amount = #{record.firstColltnAmount,jdbcType=DECIMAL},
      first_colltn_date = #{record.firstColltnDate,jdbcType=TIMESTAMP},
      final_colltn_date = #{record.finalColltnDate,jdbcType=TIMESTAMP},
      customer_no = #{record.customerNo,jdbcType=VARCHAR},
      creditor_id = #{record.creditorId,jdbcType=VARCHAR},
      creditor_name = #{record.creditorName,jdbcType=VARCHAR},
      creditor_acct_no = #{record.creditorAcctNo,jdbcType=VARCHAR},
      creditor_acct_name = #{record.creditorAcctName,jdbcType=VARCHAR},
      creditor_acct_type = #{record.creditorAcctType,jdbcType=VARCHAR},
      creditor_agent_id = #{record.creditorAgentId,jdbcType=VARCHAR},
      debtor_id = #{record.debtorId,jdbcType=VARCHAR},
      debtor_name = #{record.debtorName,jdbcType=VARCHAR},
      debtor_acct_no = #{record.debtorAcctNo,jdbcType=VARCHAR},
      debtor_acct_name = #{record.debtorAcctName,jdbcType=VARCHAR},
      debtor_acct_type = #{record.debtorAcctType,jdbcType=VARCHAR},
      debtor_agent_id = #{record.debtorAgentId,jdbcType=VARCHAR},
      accept_flag = #{record.acceptFlag,jdbcType=VARCHAR},
      reject_code = #{record.rejectCode,jdbcType=VARCHAR},
      reject_message = #{record.rejectMessage,jdbcType=VARCHAR},
      mandate_additional = #{record.mandateAdditional,jdbcType=VARCHAR},
      mandate_remark = #{record.mandateRemark,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ear.di.entity.IppEMandateEvent" >
    update ipp_e_mandate_event
    <set >
      <if test="eventId != null" >
        event_id = #{eventId,jdbcType=VARCHAR},
      </if>
      <if test="eventType != null" >
        event_type = #{eventType,jdbcType=VARCHAR},
      </if>
      <if test="eventTypeDesc != null" >
        event_type_desc = #{eventTypeDesc,jdbcType=VARCHAR},
      </if>
      <if test="eventStatus != null" >
        event_status = #{eventStatus,jdbcType=VARCHAR},
      </if>
      <if test="eventStatusDesc != null" >
        event_status_desc = #{eventStatusDesc,jdbcType=VARCHAR},
      </if>
      <if test="fromChnlSeq != null" >
        from_chnl_seq = #{fromChnlSeq,jdbcType=VARCHAR},
      </if>
      <if test="fromChnlCode != null" >
        from_chnl_code = #{fromChnlCode,jdbcType=VARCHAR},
      </if>
      <if test="fromChnlDate != null" >
        from_chnl_date = #{fromChnlDate,jdbcType=TIMESTAMP},
      </if>
      <if test="fromChnlDttm != null" >
        from_chnl_dttm = #{fromChnlDttm,jdbcType=TIMESTAMP},
      </if>
      <if test="mandateId != null" >
        mandate_id = #{mandateId,jdbcType=VARCHAR},
      </if>
      <if test="mandateStatus != null" >
        mandate_status = #{mandateStatus,jdbcType=VARCHAR},
      </if>
      <if test="mandateRole != null" >
        mandate_role = #{mandateRole,jdbcType=VARCHAR},
      </if>
      <if test="mandateStartDate != null" >
        mandate_start_date = #{mandateStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="mandateEndDate != null" >
        mandate_end_date = #{mandateEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="mandatePurpose != null" >
        mandate_purpose = #{mandatePurpose,jdbcType=VARCHAR},
      </if>
      <if test="billerReferenceId != null" >
        biller_reference_id = #{billerReferenceId,jdbcType=VARCHAR},
      </if>
      <if test="billerDisplayName != null" >
        biller_display_name = #{billerDisplayName,jdbcType=VARCHAR},
      </if>
      <if test="mandateType != null" >
        mandate_type = #{mandateType,jdbcType=VARCHAR},
      </if>
      <if test="sequenceType != null" >
        sequence_type = #{sequenceType,jdbcType=VARCHAR},
      </if>
      <if test="periodType != null" >
        period_type = #{periodType,jdbcType=VARCHAR},
      </if>
      <if test="periodPerCount != null" >
        period_per_count = #{periodPerCount,jdbcType=INTEGER},
      </if>
      <if test="colltnType != null" >
        colltn_type = #{colltnType,jdbcType=VARCHAR},
      </if>
      <if test="colltnMaxAmount != null" >
        colltn_max_amount = #{colltnMaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="colltnFixedAmount != null" >
        colltn_fixed_amount = #{colltnFixedAmount,jdbcType=DECIMAL},
      </if>
      <if test="firstColltnAmount != null" >
        first_colltn_amount = #{firstColltnAmount,jdbcType=DECIMAL},
      </if>
      <if test="firstColltnDate != null" >
        first_colltn_date = #{firstColltnDate,jdbcType=TIMESTAMP},
      </if>
      <if test="finalColltnDate != null" >
        final_colltn_date = #{finalColltnDate,jdbcType=TIMESTAMP},
      </if>
      <if test="customerNo != null" >
        customer_no = #{customerNo,jdbcType=VARCHAR},
      </if>
      <if test="creditorId != null" >
        creditor_id = #{creditorId,jdbcType=VARCHAR},
      </if>
      <if test="creditorName != null" >
        creditor_name = #{creditorName,jdbcType=VARCHAR},
      </if>
      <if test="creditorAcctNo != null" >
        creditor_acct_no = #{creditorAcctNo,jdbcType=VARCHAR},
      </if>
      <if test="creditorAcctName != null" >
        creditor_acct_name = #{creditorAcctName,jdbcType=VARCHAR},
      </if>
      <if test="creditorAcctType != null" >
        creditor_acct_type = #{creditorAcctType,jdbcType=VARCHAR},
      </if>
      <if test="creditorAgentId != null" >
        creditor_agent_id = #{creditorAgentId,jdbcType=VARCHAR},
      </if>
      <if test="debtorId != null" >
        debtor_id = #{debtorId,jdbcType=VARCHAR},
      </if>
      <if test="debtorName != null" >
        debtor_name = #{debtorName,jdbcType=VARCHAR},
      </if>
      <if test="debtorAcctNo != null" >
        debtor_acct_no = #{debtorAcctNo,jdbcType=VARCHAR},
      </if>
      <if test="debtorAcctName != null" >
        debtor_acct_name = #{debtorAcctName,jdbcType=VARCHAR},
      </if>
      <if test="debtorAcctType != null" >
        debtor_acct_type = #{debtorAcctType,jdbcType=VARCHAR},
      </if>
      <if test="debtorAgentId != null" >
        debtor_agent_id = #{debtorAgentId,jdbcType=VARCHAR},
      </if>
      <if test="acceptFlag != null" >
        accept_flag = #{acceptFlag,jdbcType=VARCHAR},
      </if>
      <if test="rejectCode != null" >
        reject_code = #{rejectCode,jdbcType=VARCHAR},
      </if>
      <if test="rejectMessage != null" >
        reject_message = #{rejectMessage,jdbcType=VARCHAR},
      </if>
      <if test="mandateAdditional != null" >
        mandate_additional = #{mandateAdditional,jdbcType=VARCHAR},
      </if>
      <if test="mandateRemark != null" >
        mandate_remark = #{mandateRemark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ear.di.entity.IppEMandateEvent" >
    update ipp_e_mandate_event
    set event_id = #{eventId,jdbcType=VARCHAR},
      event_type = #{eventType,jdbcType=VARCHAR},
      event_type_desc = #{eventTypeDesc,jdbcType=VARCHAR},
      event_status = #{eventStatus,jdbcType=VARCHAR},
      event_status_desc = #{eventStatusDesc,jdbcType=VARCHAR},
      from_chnl_seq = #{fromChnlSeq,jdbcType=VARCHAR},
      from_chnl_code = #{fromChnlCode,jdbcType=VARCHAR},
      from_chnl_date = #{fromChnlDate,jdbcType=TIMESTAMP},
      from_chnl_dttm = #{fromChnlDttm,jdbcType=TIMESTAMP},
      mandate_id = #{mandateId,jdbcType=VARCHAR},
      mandate_status = #{mandateStatus,jdbcType=VARCHAR},
      mandate_role = #{mandateRole,jdbcType=VARCHAR},
      mandate_start_date = #{mandateStartDate,jdbcType=TIMESTAMP},
      mandate_end_date = #{mandateEndDate,jdbcType=TIMESTAMP},
      mandate_purpose = #{mandatePurpose,jdbcType=VARCHAR},
      biller_reference_id = #{billerReferenceId,jdbcType=VARCHAR},
      biller_display_name = #{billerDisplayName,jdbcType=VARCHAR},
      mandate_type = #{mandateType,jdbcType=VARCHAR},
      sequence_type = #{sequenceType,jdbcType=VARCHAR},
      period_type = #{periodType,jdbcType=VARCHAR},
      period_per_count = #{periodPerCount,jdbcType=INTEGER},
      colltn_type = #{colltnType,jdbcType=VARCHAR},
      colltn_max_amount = #{colltnMaxAmount,jdbcType=DECIMAL},
      colltn_fixed_amount = #{colltnFixedAmount,jdbcType=DECIMAL},
      first_colltn_amount = #{firstColltnAmount,jdbcType=DECIMAL},
      first_colltn_date = #{firstColltnDate,jdbcType=TIMESTAMP},
      final_colltn_date = #{finalColltnDate,jdbcType=TIMESTAMP},
      customer_no = #{customerNo,jdbcType=VARCHAR},
      creditor_id = #{creditorId,jdbcType=VARCHAR},
      creditor_name = #{creditorName,jdbcType=VARCHAR},
      creditor_acct_no = #{creditorAcctNo,jdbcType=VARCHAR},
      creditor_acct_name = #{creditorAcctName,jdbcType=VARCHAR},
      creditor_acct_type = #{creditorAcctType,jdbcType=VARCHAR},
      creditor_agent_id = #{creditorAgentId,jdbcType=VARCHAR},
      debtor_id = #{debtorId,jdbcType=VARCHAR},
      debtor_name = #{debtorName,jdbcType=VARCHAR},
      debtor_acct_no = #{debtorAcctNo,jdbcType=VARCHAR},
      debtor_acct_name = #{debtorAcctName,jdbcType=VARCHAR},
      debtor_acct_type = #{debtorAcctType,jdbcType=VARCHAR},
      debtor_agent_id = #{debtorAgentId,jdbcType=VARCHAR},
      accept_flag = #{acceptFlag,jdbcType=VARCHAR},
      reject_code = #{rejectCode,jdbcType=VARCHAR},
      reject_message = #{rejectMessage,jdbcType=VARCHAR},
      mandate_additional = #{mandateAdditional,jdbcType=VARCHAR},
      mandate_remark = #{mandateRemark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>