<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ear.di.dao.KOLInfoMapper" >
  <resultMap id="BaseResultMap" type="com.ear.di.entity.KOLInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="kol_id" property="kolId" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="kol_name" property="kolName" jdbcType="VARCHAR" />
    <result column="perform_platform" property="performPlatform" jdbcType="VARCHAR" />
    <result column="perform_number" property="performNumber" jdbcType="BIGINT" />
    <result column="pre_perform_number" property="prePerformNumber" jdbcType="BIGINT" />
    <result column="perform_viewer_number" property="performViewerNumber" jdbcType="BIGINT" />
    <result column="kol_avatar" property="kolAvatar" jdbcType="VARCHAR" />
    <result column="kol_followers" property="kolFollowers" jdbcType="INTEGER" />
    <result column="kol_introduce" property="kolIntroduce" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, kol_id, user_id, kol_name, perform_platform, perform_number, pre_perform_number, 
    perform_viewer_number, kol_avatar, kol_followers, kol_introduce, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ear.di.entity.KOLInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from kol_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from kol_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from kol_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.ear.di.entity.KOLInfoExample" >
    delete from kol_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ear.di.entity.KOLInfo" >
    insert into kol_info (id, kol_id, user_id, 
      kol_name, perform_platform, perform_number, 
      pre_perform_number, perform_viewer_number, kol_avatar, 
      kol_followers, kol_introduce, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{kolId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, 
      #{kolName,jdbcType=VARCHAR}, #{performPlatform,jdbcType=VARCHAR}, #{performNumber,jdbcType=BIGINT}, 
      #{prePerformNumber,jdbcType=BIGINT}, #{performViewerNumber,jdbcType=BIGINT}, #{kolAvatar,jdbcType=VARCHAR}, 
      #{kolFollowers,jdbcType=INTEGER}, #{kolIntroduce,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ear.di.entity.KOLInfo" >
    insert into kol_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="kolId != null" >
        kol_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="kolName != null" >
        kol_name,
      </if>
      <if test="performPlatform != null" >
        perform_platform,
      </if>
      <if test="performNumber != null" >
        perform_number,
      </if>
      <if test="prePerformNumber != null" >
        pre_perform_number,
      </if>
      <if test="performViewerNumber != null" >
        perform_viewer_number,
      </if>
      <if test="kolAvatar != null" >
        kol_avatar,
      </if>
      <if test="kolFollowers != null" >
        kol_followers,
      </if>
      <if test="kolIntroduce != null" >
        kol_introduce,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="kolId != null" >
        #{kolId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="kolName != null" >
        #{kolName,jdbcType=VARCHAR},
      </if>
      <if test="performPlatform != null" >
        #{performPlatform,jdbcType=VARCHAR},
      </if>
      <if test="performNumber != null" >
        #{performNumber,jdbcType=BIGINT},
      </if>
      <if test="prePerformNumber != null" >
        #{prePerformNumber,jdbcType=BIGINT},
      </if>
      <if test="performViewerNumber != null" >
        #{performViewerNumber,jdbcType=BIGINT},
      </if>
      <if test="kolAvatar != null" >
        #{kolAvatar,jdbcType=VARCHAR},
      </if>
      <if test="kolFollowers != null" >
        #{kolFollowers,jdbcType=INTEGER},
      </if>
      <if test="kolIntroduce != null" >
        #{kolIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ear.di.entity.KOLInfoExample" resultType="java.lang.Integer" >
    select count(*) from kol_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update kol_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.kolId != null" >
        kol_id = #{record.kolId,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.kolName != null" >
        kol_name = #{record.kolName,jdbcType=VARCHAR},
      </if>
      <if test="record.performPlatform != null" >
        perform_platform = #{record.performPlatform,jdbcType=VARCHAR},
      </if>
      <if test="record.performNumber != null" >
        perform_number = #{record.performNumber,jdbcType=BIGINT},
      </if>
      <if test="record.prePerformNumber != null" >
        pre_perform_number = #{record.prePerformNumber,jdbcType=BIGINT},
      </if>
      <if test="record.performViewerNumber != null" >
        perform_viewer_number = #{record.performViewerNumber,jdbcType=BIGINT},
      </if>
      <if test="record.kolAvatar != null" >
        kol_avatar = #{record.kolAvatar,jdbcType=VARCHAR},
      </if>
      <if test="record.kolFollowers != null" >
        kol_followers = #{record.kolFollowers,jdbcType=INTEGER},
      </if>
      <if test="record.kolIntroduce != null" >
        kol_introduce = #{record.kolIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update kol_info
    set id = #{record.id,jdbcType=BIGINT},
      kol_id = #{record.kolId,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=VARCHAR},
      kol_name = #{record.kolName,jdbcType=VARCHAR},
      perform_platform = #{record.performPlatform,jdbcType=VARCHAR},
      perform_number = #{record.performNumber,jdbcType=BIGINT},
      pre_perform_number = #{record.prePerformNumber,jdbcType=BIGINT},
      perform_viewer_number = #{record.performViewerNumber,jdbcType=BIGINT},
      kol_avatar = #{record.kolAvatar,jdbcType=VARCHAR},
      kol_followers = #{record.kolFollowers,jdbcType=INTEGER},
      kol_introduce = #{record.kolIntroduce,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ear.di.entity.KOLInfo" >
    update kol_info
    <set >
      <if test="kolId != null" >
        kol_id = #{kolId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="kolName != null" >
        kol_name = #{kolName,jdbcType=VARCHAR},
      </if>
      <if test="performPlatform != null" >
        perform_platform = #{performPlatform,jdbcType=VARCHAR},
      </if>
      <if test="performNumber != null" >
        perform_number = #{performNumber,jdbcType=BIGINT},
      </if>
      <if test="prePerformNumber != null" >
        pre_perform_number = #{prePerformNumber,jdbcType=BIGINT},
      </if>
      <if test="performViewerNumber != null" >
        perform_viewer_number = #{performViewerNumber,jdbcType=BIGINT},
      </if>
      <if test="kolAvatar != null" >
        kol_avatar = #{kolAvatar,jdbcType=VARCHAR},
      </if>
      <if test="kolFollowers != null" >
        kol_followers = #{kolFollowers,jdbcType=INTEGER},
      </if>
      <if test="kolIntroduce != null" >
        kol_introduce = #{kolIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ear.di.entity.KOLInfo" >
    update kol_info
    set kol_id = #{kolId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      kol_name = #{kolName,jdbcType=VARCHAR},
      perform_platform = #{performPlatform,jdbcType=VARCHAR},
      perform_number = #{performNumber,jdbcType=BIGINT},
      pre_perform_number = #{prePerformNumber,jdbcType=BIGINT},
      perform_viewer_number = #{performViewerNumber,jdbcType=BIGINT},
      kol_avatar = #{kolAvatar,jdbcType=VARCHAR},
      kol_followers = #{kolFollowers,jdbcType=INTEGER},
      kol_introduce = #{kolIntroduce,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>